html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-sans);
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* 為了在 iOS 上有更流暢的滾動體驗 */
}

:root {
  --foreground-rgb: 0, 0, 0;
}
